@font-face {
    font-family: 'Chathura';
    src: url('./../fonts/chathura/Chathura-Bold.woff2') format('woff2'),
        url('./../fonts/chathura/Chathura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chathura';
    src: url('./../fonts/chathura/Chathura-ExtraBold.woff2') format('woff2'),
        url('./../fonts/chathura/Chathura-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chathura';
    src: url('./../fonts/chathura/Chathura-Light.woff2') format('woff2'),
        url('./../fonts/chathura/Chathura-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chathura';
    src: url('./../fonts/chathura/Chathura-Regular.woff2') format('woff2'),
        url('./../fonts/chathura/Chathura-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chathura';
    src: url('./../fonts/chathura/Chathura-Thin.woff2') format('woff2'),
        url('./../fonts/chathura/Chathura-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

